.toolbar {
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 0 2rem 0 hsla(0, 0%, 31%, 0.39);
    /* opacity: 0.8; */
    border-bottom: 1px solid hsl(0, 0%, 27%);
    display: flex;
    position: fixed;
    width: 100%;
}

.toolbar:hover {
    opacity: 1;
}

.toolbar button {
    font-family: 'InputSans', serif;
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    touch-action: none;
}

.toolbar button:hover {
    background-color: hsl(55, 32%, 57%);
}

.path button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    touch-action: none;
    text-decoration: underline;
    font-weight: bold;
}

.path button:hover {
    background-color: hsl(55, 32%, 57%);
}
