.dragging {
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: 0.5; */
    /* height: 2rem; */
    overflow: hidden;
    pointer-events: none;
    touch-action: none;
    position: absolute;
    z-index: 100;
}

.drag-shadow {
    box-sizing: border-box;
    height: 3rem;
    border: 1px solid var(--border-color);
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            var(--border-color) 10px,
            var(--border-color) 10px);
}

.drop-target {
    position: absolute;
    pointer-events: none;
    touch-action: none;
    display: none;
    opacity: 0.5;
    /* transition: all 0.1s ease-in-out; */
}

.delete-shadow {
    box-sizing: border-box;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 100vh;
    border: 2px solid red;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            red 10px,
            red 12px);
}

.open-shadow {
    box-sizing: border-box;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 100vh;
    border: 2px solid blue;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            blue 10px,
            blue 12px);
}

.open-shadow:hover, .delete-shadow:hover {
    opacity: 1;
}

.block-container {
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

.block-container > * {
    margin:0;
    padding: 0 !important;
}

.block-button {
    font-family: 'InputSans', serif;
    font-size: medium;
    display: block;
    touch-action: none;
    user-select: none;
    padding: 0.1rem !important;
    align-content: center;
}

.block-button > * {
    margin: 0;
    padding: 0;
}

.block-button::selection {
    background: transparent;
}
