/* CAT_Wathari */

@font-face {
    font-family: 'Walthari';
    src: url('./fonts/CAT_Walthari/CAT_Walthari.ttf') format('truetype');
}

/* UnifrakturCook */
@font-face {
    font-family: 'UnifrakturCook';
    src: url('./fonts/UnifrakturCook/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* UnifrakturMaguntia */
@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url('./fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* InputMono */
@font-face {
    font-family: 'InputMono';
    src: url('./fonts/InputMono/InputMono/InputMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputMono';
    src: url('./fonts/InputMono/InputMono/InputMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputMono';
    src: url('./fonts/InputMono/InputMono/InputMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputMono';
    src: url('./fonts/InputMono/InputMono/InputMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* InputMonoCompressed */
@font-face {
    font-family: 'InputMonoCompressed';
    src: url('./fonts/InputMono/InputMonoCompressed/InputMonoCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoCompressed';
    src: url('./fonts/InputMono/InputMonoCompressed/InputMonoCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoCompressed';
    src: url('./fonts/InputMono/InputMonoCompressed/InputMonoCompressed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputMonoCompressed';
    src: url('./fonts/InputMono/InputMonoCompressed/InputMonoCompressed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* InputMonoCondensed */
@font-face {
    font-family: 'InputMonoCondensed';
    src: url('./fonts/InputMono/InputMonoCondensed/InputMonoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoCondensed';
    src: url('./fonts/InputMono/InputMonoCondensed/InputMonoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoCondensed';
    src: url('./fonts/InputMono/InputMonoCondensed/InputMonoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputMonoCondensed';
    src: url('./fonts/InputMono/InputMonoCondensed/InputMonoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* InputMonoNarrow */
@font-face {
    font-family: 'InputMonoNarrow';
    src: url('./fonts/InputMono/InputMonoNarrow/InputMonoNarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoNarrow';
    src: url('./fonts/InputMono/InputMonoNarrow/InputMonoNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputMonoNarrow';
    src: url('./fonts/InputMono/InputMonoNarrow/InputMonoNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputMonoNarrow';
    src: url('./fonts/InputMono/InputMonoNarrow/InputMonoNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Sans */
@font-face {
    font-family: 'InputSans';
    src: url('./fonts/InputSans/InputSans/InputSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSans';
    src: url('./fonts/InputSans/InputSans/InputSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSans';
    src: url('./fonts/InputSans/InputSans/InputSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSans';
    src: url('./fonts/InputSans/InputSans/InputSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Sans Compressed */
@font-face {
    font-family: 'InputSansCompressed';
    src: url('./fonts/InputSans/InputSansCompressed/InputSansCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansCompressed';
    src: url('./fonts/InputSans/InputSansCompressed/InputSansCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansCompressed';
    src: url('./fonts/InputSans/InputSansCompressed/InputSansCompressed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSansCompressed';
    src: url('./fonts/InputSans/InputSansCompressed/InputSansCompressed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Sans Condensed */
@font-face {
    font-family: 'InputSansCondensed';
    src: url('./fonts/InputSans/InputSansCondensed/InputSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansCondensed';
    src: url('./fonts/InputSans/InputSansCondensed/InputSansCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansCondensed';
    src: url('./fonts/InputSans/InputSansCondensed/InputSansCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSansCondensed';
    src: url('./fonts/InputSans/InputSansCondensed/InputSansCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Sans Narrow */
@font-face {
    font-family: 'InputSansNarrow';
    src: url('./fonts/InputSans/InputSansNarrow/InputSansNarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansNarrow';
    src: url('./fonts/InputSans/InputSansNarrow/InputSansNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSansNarrow';
    src: url('./fonts/InputSans/InputSansNarrow/InputSansNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSansNarrow';
    src: url('./fonts/InputSans/InputSansNarrow/InputSansNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Serif */
@font-face {
    font-family: 'InputSerif';
    src: url('./fonts/InputSerif/InputSerif/InputSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerif';
    src: url('./fonts/InputSerif/InputSerif/InputSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerif';
    src: url('./fonts/InputSerif/InputSerif/InputSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSerif';
    src: url('./fonts/InputSerif/InputSerif/InputSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Serif Compressed */
@font-face {
    font-family: 'InputSerifCompressed';
    src: url('./fonts/InputSerif/InputSerifCompressed/InputSerifCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifCompressed';
    src: url('./fonts/InputSerif/InputSerifCompressed/InputSerifCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifCompressed';
    src: url('./fonts/InputSerif/InputSerifCompressed/InputSerifCompressed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSerifCompressed';
    src: url('./fonts/InputSerif/InputSerifCompressed/InputSerifCompressed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Serif Condensed */
@font-face {
    font-family: 'InputSerifCondensed';
    src: url('./fonts/InputSerif/InputSerifCondensed/InputSerifCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifCondensed';
    src: url('./fonts/InputSerif/InputSerifCondensed/InputSerifCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifCondensed';
    src: url('./fonts/InputSerif/InputSerifCondensed/InputSerifCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSerifCondensed';
    src: url('./fonts/InputSerif/InputSerifCondensed/InputSerifCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Input Serif Narrow */
@font-face {
    font-family: 'InputSerifNarrow';
    src: url('./fonts/InputSerif/InputSerifNarrow/InputSerifNarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifNarrow';
    src: url('./fonts/InputSerif/InputSerifNarrow/InputSerifNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InputSerifNarrow';
    src: url('./fonts/InputSerif/InputSerifNarrow/InputSerifNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'InputSerifNarrow';
    src: url('./fonts/InputSerif/InputSerifNarrow/InputSerifNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}