@tailwind base;
@tailwind components;
@tailwind utilities;


[contenteditable] {
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: break-spaces;
}

.btn {
    user-select: none;
    touch-action: none;
    /* turn off text selection */


}

.btn::selection {
    background: transparent;
}

button {
    user-select: none;
    /* turn off text selection */
}

button::selection {
    background: transparent;
}