@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* touch-action: pan-y; */

    --border-color: rgb(112, 179, 164);
    --background-color: hsl(0, 0%, 100%);

    /* color-scheme: dark light; */
    /* caret-color: transparent; */
    font-family: 'InputSans', serif;
}


.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid var(--border-color);
}

.table-header {
    font-weight: bold;
}

.archive {
    color: blue;
}

.isCurrentDay {
    color: rgb(226, 31, 31);
}

.done {
    color: rgb(77, 177, 82);
}




body {

    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    overflow-x: hidden;
}


ol,
ul {
    list-style: none;
}


.border {
    border: 1px solid var(--border-color);
}

.editor {
    padding: 0.5rem;
    padding-top: 0;

}




[contenteditable] {

    outline: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}



/* drag.css */
.dragging {
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: 0.5; */
    /* height: 2rem; */
    overflow: hidden;
    pointer-events: none;
    touch-action: none;
    position: absolute;
    z-index: 100;
}

.drag-shadow {
    box-sizing: border-box;
    height: 3rem;
    border: 1px solid var(--border-color);
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            var(--border-color) 10px,
            var(--border-color) 10px);
}

.drop-target {
    position: absolute;
    pointer-events: none;
    touch-action: none;
    display: none;
    opacity: 0.5;
    /* transition: all 0.1s ease-in-out; */
}

.delete-shadow {
    box-sizing: border-box;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 100vh;
    border: 2px solid red;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            red 10px,
            red 12px);
}

.open-shadow {
    box-sizing: border-box;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 100vh;
    border: 2px solid blue;
    background: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            blue 10px,
            blue 12px);
}

.open-shadow:hover,
.delete-shadow:hover {
    opacity: 1;
}

.block-container>* {
    margin: 0;
    padding: 0 !important;
}

.block-button {
    display: block;
    touch-action: none;
    user-select: none;
    padding: 0.1rem !important;
    align-content: center;
}