@tailwind base;
@tailwind components;
@tailwind utilities;


[contenteditable] {
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: break-spaces;
}

.btn {
    user-select: none;
    touch-action: none;
    /* turn off text selection */


}

.btn::selection {
    background: transparent;
}

button {
    user-select: none;
    /* turn off text selection */
}

button::selection {
    background: transparent;
}

dialog {
    border-radius: 1rem;
    z-index:11;
    padding: 30px;
}

dialog::backdrop {
    opacity: 0.25;
    background-color: gray

}

.dialog-bg {
    display: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 22%, 0.1);
    z-index: 10;
}

.dialog-fg {
    display: absolute;
}