

:root {
  /* touch-action: pan-y; */

  --border-color: rgb(112, 179, 164);
  --background-color: hsl(0, 0%, 100%);

  /* color-scheme: dark light; */
  /* caret-color: transparent; */
  font-family: 'InputSans', serif;
}

.dialog-container {
  background-color: rgba(88, 80, 80, 0.596);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}



.schedule {
  transform: scale(1, 0.8);
  padding-left: 1.7rem;
  margin-bottom: -0.5rem;
  font-size: small;
  font-weight: bold;
  user-select: none;
}

.schedule::highlight {
  background-color: hsl(0, 0%, 100%);
  
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border: 1px solid var(--border-color);
}

.table-header {
  font-weight: bold;
}

.table > * {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  margin: 0.5rem 0.5rem;
}

tr,th,td {
  border: 1px solid var(--border-color);
}

/* h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: '';
  float: right;
  width: 15em;
  height: 1em;
} */



body {

  background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1rem;
  margin: 0.5rem 0.5rem;
}

ol, ul {
  list-style: none;
}

p {
  flex: 1;
  padding-left: 1px;
  font-size: 1rem;
  margin: 0.2rem 0.5rem;
}


.section {
  background-color: var(--background-color);

  align-items: stretch;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* border-radius: 0.5rem; */
  /* border-left: 5px solid rgb(165, 165, 165); */
  /* touch-action: none; */
}

.border {
  border: 1px solid var(--border-color);
}


.hidden {
  height: 2rem;
  overflow: hidden;
  color: dimgray;
}



/* * {
  outline: 1px solid rgb(126, 126, 126) !important;
} */


.editor {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: 'InputSans', serif;

  font-size: larger;
  /* max-width: 60ch; */
  /* margin: 10px auto; */

  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  /* the above doesn't seem to work in Edge */
}

.editor .button {
  font-weight: bold;
  background: none;
  color: rgb(138, 182, 182);
  /* background-color: hsl(44, 100%, 91%); */
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  touch-action: none;
}




[contenteditable] {
  outline: none;
  cursor: text;
}